@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-gray-50 text-black;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  }
  .text-shadow {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  }
  .text-shadow-hard {
    text-shadow: 4px 4px 0px #000;
  }
}
